
/* Fonts setup */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Color setup */
:root{
	
	--primary: #3155e7;
	--primary-dark: #2045d6;
	--black: #010101;
	--gray-1: #788190;
	--gray-2: #d3d4db;
	--white: #FFFFFF;	
	--body: #fefefe;
}

body{
	font-family: 'Plus Jakarta Sans', sans-serif;
	background-color: var(--body);
	
}


.funny {
	font-style: italic;
	color: green;
}

.gradient-custom {
/* fallback for old browsers */
background: #ff80c0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

body { 
    padding-top: 65px; 
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
	.row.content {
		height: auto;
	}
}