<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: html_head">

</head>

<body>
	<div th:replace="fragments :: menu"></div>

	<div class="container">

		<h3>All Projects</h3>
		<hr>
		
		 <p>The number of projects is: <span th:text="${projects.size()}"></span></p>

	<!-- TABLE PROJECTS -->
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Description</th>
					<th>State</th>
					<th>Created by</th>
					<th>Date</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="project : ${projects}">
					<td th:text="${project.codeProject}" />
					<td th:text="${project.title}" />
					<td th:text="${project.descProject}" />
					<td th:text="${@projectController.getDescState(project.idStatus)}"/>
					<td th:text="${project.nameCreatedBy}" />
					<td th:text="${project.dateLastState}" />
				</tr>
			</tbody>
		</table>

	</div>
	<div th:replace="fragments :: footer"></div>
</body>
</html>



