<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: html_head">
</head>

<body>
	<div th:replace="fragments :: menu"></div>

	<div class="container">

		<h3>Projects</h3>
		<hr>

		<p>
			The number of projects is: <span th:text="${projects.size()}"></span>
		</p>

		<a th:href="@{/projects/showFormForAdd}"
			class="btn btn-primary btn-sm mr-5 mb-3"
			sec:authorize="!isAnonymous()"> Add Projects </a>

		<!-- TABLE PROJECTS -->
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Title
						<form th:action="@{/projects/searchByProjectName}"
							class="form-inline">
							<input id="search-input" class="form-control ml-5 mr-sm-2 mb-3"
								type="search" name="projectName"
								placeholder="Search by name project" />
						</form>
					</th>
					<th>Description</th>
					<th>State</th>
					<th>Created by</th>
					<th>Date</th>
					<th>Details</th>
					<div sec:authorize="hasAnyRole('ROLE_PARTNER', 'ROLE_ADMIN')">
						<th>Action</th>
					</div>
				</tr>
			</thead>

			<tbody>
				<tr th:each="project : ${projects}">
					<td th:text="${project.codeProject}" />
					<td th:text="${project.title}" />
					<td th:text="${project.descProject}" />
					<td th:text="${@projectController.getDescState(project.idStatus)}" />
					<td th:text="${project.nameCreatedBy}" />
					<td th:text="${project.dateLastState}" />
					<td>
						<form th:action="@{/projects/project-details}" method="get">
							<input type="hidden" name="idProject"
								th:value="${project.idProject}" />
							<button type="submit" class="btn btn-sm btn-info">
								<i class="bi bi-search"></i>
							</button>
						</form>
					</td>
					<div sec:authorize="hasAnyRole('ROLE_PARTNER', 'ROLE_ADMIN')">

						<td>
							<div sec:authorize="hasAnyRole('ROLE_PARTNER', 'ROLE_ADMIN')">
								<a
									th:href="@{/projects/showFormForUpdate(projectId=${project.idProject})}"
									class="btn btn-info btn-sm mr-5 mb-3"> Update </a>
							</div>

							<div sec:authorize="hasRole('ROLE_ADMIN')">

								<!-- Add "delete" button/link -->
								<a th:href="@{/projects/delete(projectId=${project.idProject})}"
									class="btn btn-danger btn-sm mr-5 mb-3"
									onclick="if (!(confirm('Are you sure you want to delete this?'))) return false">
									Delete </a>

							</div>
						</td>

					</div>


				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="fragments :: footer"></div>
</body>
</html>



