<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head" />

</head>

<body>

	<div class="container">

		<h3>Add New Phase</h3>
		<hr>

		<form th:action="@{/projects/savePhaseForTheProject}"
			th:object="${newRelProjectPhaseBean}" method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{idProject}" /> <input type="hidden"
				th:field="*{uuid}" /> <input type="text" th:field="*{title}"
				class="form-control mb-4 col-4" placeholder="Title">

			<textarea th:field="*{description}" class="form-control mb-4 col-4"
				placeholder="Description" rows="3"></textarea>

			<label for="startTime">Start Time:</label> <input
				type="datetime-local" th:field="*{startTime}"
				class="form-control mb-4 col-4" id="startTime"
				th:datetime="${newRelProjectPhaseBean.startTime}">

			<label for="endTime">End Time:</label> <input type="datetime-local"
				th:field="*{endTime}" class="form-control mb-4 col-4" id="endTime"
				th:datetime="${newRelProjectPhaseBean.endTime}">
				
				<input type="hidden" th:field="*{fundRaised}" /> 

			<input type="number" step="1000" min="0" th:field="*{totalFund}"
				class="form-control mb-4 col-4" placeholder="Total Fund">

			<button type="submit" class="btn btn-info col-2">Save</button>

		</form>

		<hr>
		<form th:action="@{/projects/project-details(idProject=${idProject})}"
			method="get">
			<input type="hidden" name="idProject"
				th:value="${newRelProjectPhaseBean.idProject}" />
			<button type="submit" class="btn btn-sm btn-info">
				<i class="bi bi-search">Back to Project Details</i>
			</button>
		</form>
	</div>
</body>

</html>