<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: html_head">

</head>

<body>
	<div th:replace="fragments :: menu"></div>

	<div class="container">

		<form th:action="@{/projects/list}" method="get" class="float-right">
			<button type="submit" class="btn btn-sm btn-info">
				<i class="bi bi-arrow-90deg-left"></i>
			</button>
		</form>

		<h1>Project Details</h1>
		<hr>
		<h3
			th:text="${project.title}+' - ['+${@projectController.getDescState(project.idStatus)}+']'">
		</h3>


		<div class="card">
			<div class="card-body bg-warning" th:text="${project.descProject}"></div>
		</div>
		<hr>

		<!-- TABLE PROJECTS PHASE -->
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>title</th>
					<th>Description</th>
					<th>startTime</th>
					<th>endTime</th>
					<th>fundRaised</th>
					<th>totalFund</th>
					<th>Donate</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="projectPhase : ${projectPhaseList}">
					<td th:text="${projectPhase.title}" />
					<td th:text="${projectPhase.Description}" />
					<td th:text="${projectPhase.startTime}" />
					<td th:text="${projectPhase.endTime}" />
					<td th:text="${projectPhase.fundRaised} +' €' " />
					<td th:text="${projectPhase.totalFund} +' €' " />
					<td>
						<form th:action="@{/projects/donate}" method="get">
							<input type="hidden" name="idProject"
								th:value="${projectPhase.idProject}" />
							<button type="submit" class="btn btn-sm btn-info">
								<i class="bi bi-search"></i>
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>

		<h3>Partners</h3>
		<hr>

		<!-- TABLE PROJECTS -->
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Mail</th>
					<th>Phone</th>
					<th>timeCreated</th>
					<th>WebSite</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="partner : ${partners}">
					<td th:text="${partner.codePartner}" />
					<td th:text="${partner.descPartner}" />
					<td th:text="${partner.mail}" />
					<td th:text="${partner.phone}" />
					<td th:text="${partner.timeCreated}" />
					<td th:text="${partner.webSite}" />
				</tr>
			</tbody>
		</table>
	</div>

	<div th:replace="fragments :: footer"></div>
	<hr>
</body>
</html>



